section {
  display: flex;
  flex-direction: column
}

#evaluation-form {
  display: flex;
  flex-direction: column
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(39, 39, 39);
  color: white;
  text-align: center;
}
