* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.header div {
  flex-basis: 1;
}

.header div:nth-child(1) {
  display: flex;
  align-items: center;
  order: 1;
}

.header div:nth-child(2) {
  order: 2;
}

.header div:nth-child(3) {
  order: 3;
}

section {
  display: flex;
  flex-direction: column;
}

#hero {
  display: flex;
  height: 60%;
  width: 100%;
  justify-content: space-around;
}

.trybewarts-header-logo {
  width: 50px;
  height: 50px;
  border: red solid 1px;
}

#trybewarts-header-title {
  color: white;
  border: red solid 1px;
}

.trybewarts-login {
  display: flex;
  align-self: right;
  border: red solid 1px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.form-column {
  margin-left: 19%;
}

.form-header {
  margin-left: 0;
  align-self: center;
  font-size: xx-large;
  font-style: oblique;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(39, 39, 39);
  color: white;
  text-align: center;
  height: 20px;
  padding: 20px;
}
